html 
    head
        style
            include ../public/styles/style.css
        title="Chequeate nuestros productos (Con PUG) " 
    body
        h1 Chequeate nuestros productos (Con PUG)
        
        if exist           
            table
                tr
                    th Id
                    th Title
                    th Price
                    th Thumbnail
                
                each x in products
                    tr
                        td=x.id
                        td=x.title
                        td=x.price
                        td: img(src= x.thumbnail)
        else
            article No hay productos!